---
const { title, description, icon, posts } = Astro.props;
---
<div class="card">
  <img src={icon} alt={title + ' icon'} />
  <h2>{title}</h2>
  <p>{description}</p>
  <ul>
    {posts.map(post => <li>{post}</li>)}
  </ul>
</div>
